<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark clm">
  <div class="dropdown">
      <img src="../static/image/profile.jpg" width="69" height="68" class="rounded-circle me-2">
      <strong>{{session.username}}</strong>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    	<li class="nav-item">
      	<a href="{{ url_for('myprofile')}}" class="nav-link text-white" aria-current="page">
        	<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        	My Profile
      	</a>
    	</li>
    	<li>
      	<a href="{{ url_for('dashboard')}}" class="nav-link text-white">
        	<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Dashboard
      	</a>
    	</li>
    	<li>
      	<a href="{{ url_for('orders')}}" class="nav-link text-white">
        	<svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Orders
      	</a>
    	</li>
  	  <li>
        <a href="{{ url_for('auth.logout')}}" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Log Out
        </a>
      </li>
    </ul>
</div>